/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #990211;
  --first-color-alt: #70010C;
  --title-color: #090001;
  --text-color: hsl(19, 16%, 35%);
  --text-color-light: hsl(19, 8%, 55%);
  --body-color: #f5f5f5;
  --container-color: #fcf6f7;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --title-font: "Lora", serif;
  --subtitle-font: "Dancing Script", cursive;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 0.4s; /* for dark mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section-title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 1.5rem;
}

.section-subtitle {
  display: block;
  font-size: var(--h2-font-size);
  font-family: var(--subtitle-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.section-title, 
.section-subtitle {
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: box-shadow .3s, background .4s;
}


.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo, .nav-toggle, .nav-close{
  display: flex;
  color: var(--title-color);
}


.nav-logo{
  align-items: center;
  column-gap: .5rem;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: color .3s;
}

.nav-logo img{
  width: 180px;
}

.nav-toggle{
  font-size: 1.5rem;
  cursor: pointer;
  transition: color .3s;
}

@media screen and (max-width: 767px) {
  .nav-menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 8px 20px #f1f0f0;
    padding-block: 3.5rem;
    transition: top .4s;
  }
  
}

.nav-list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav-link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.nav-link:hover{
  color:  var(--first-color);
}

.nav-close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color .3s;
}

.nav-img-1, .nav-img-2{
  position: absolute;
  opacity: .2;
}

.nav-img-1{
  width: 100px;
  top: .75rem;
  left: -0.2rem;
  transform: rotate(165deg);
}

.nav-img-2{
  width: 50px;
  right: -0.2rem;
  bottom: 0;
  transform: rotate(-190deg);
}

/* Show menu */
.show-menu{
  top: 0;
}


/* Change background header */
.bg-header{
  box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
}


/* Active link */


/*=============== HOME ===============*/
.home{
  position: relative;
}

.home-container{
  row-gap: 3rem;
  padding-top: 2rem;
}

.home-img{
  width: 300px;
  justify-self: center;
}

.home-data{
  text-align: center;
}

.home-title{
  font-size: var(--biggest-font-size);
  font-family: var(--title-font);
  margin-bottom: 1rem;
}

.home-title img{
  width: 40px;
}

.home-title div{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.home-description{
  padding: 0 1rem;
  margin-bottom: 2.5rem;
}



/*=============== BUTTON ===============*/

.button{
   display: inline-flex;
   align-items: center;
   column-gap: .5rem;
   background-color: var(--first-color);
   padding: 1rem 1.5rem;
   border-radius: 4rem;
   color: #fff;
   font-weight: var(--font-medium);
   transition: background .3s;
}

.button i{
  font-size: 1.5rem;
  transition: transform .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button:hover i{
  transform:  translateX(.25rem);
}

/*=============== ABOUT ===============*/
.about{
  position: relative;
}

.about-container{
  row-gap: 3rem;
}

.about-data{
  text-align: center;
}

.about-title img{
  width: 30px;
}

.about-title div{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
}

.about-img{
  width: 300px;
  justify-self: center;
}



/*=============== POPULAR ===============*/

.popular-container{
  padding-top: 4rem;
  grid-template-columns: 250px;
  justify-content: center;
  row-gap: 5.5rem;
}

.popular-card{
  position: relative;
  background-color: var(--container-color);
  padding: 9rem 2rem 1.5rem;
  box-shadow: 0 8px 20px hsla(12, 64%, 48%, .08);
  border-radius: 1rem;
  text-align: center;
}

.popular-img{
  width: 220px;
  position: absolute;
  inset: 0;
  top: -2.5rem;
  margin: 0 auto;
  transition: transform .25rem;
}

.popular-name{
  font-size: var(--h3-font-size);
  font-family: var(--title-font);
  margin-bottom: .25rem;
}

.popular-description{
  display: block;
  font-size: var(--smaller-font-size);
  margin-bottom: 1rem;
}

.popular-price{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
}

.popular-button{
  display: flex;
  background-color: var(--first-color);
  padding: 6px;
  border-radius:50%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.25rem;
  box-shadow: 0 4px 20px hsla(19, 64%, 20%, .2);
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
  transition: background .3s;
}

.popular-button:hover{
  background-color: var(--first-color-alt);
}

.popular-card:hover .popular-img{
  transform: translateY(-.25rem);
  transition: .3s;
}


/*=============== RECENTLY ===============*/

.recently{
  position: relative;
}

.recently-container{
  row-gap: 4rem;
}

.recently-data{
  position: relative;
  text-align: center;
}

.recently-description{
  margin-bottom: 2rem;
}

.recently-img{
  width: 300px;
  justify-self: center;
}

/*=============== NEWSLETTER ===============*/

.newsletter-container{
  position: relative;
}

.newsletter-content{
  position: relative;
  background-color: #990211;
  border-radius: 2.5rem;
  padding: 5rem 1rem 3rem;
  text-align: center;
  overflow: hidden;
  margin-bottom: 2rem;
}

.newsletter-img{
  width: 250px;
  justify-self: center;
 /* position: absolute;
  top: -4.5rem;
  left: -8rem;*/
}

.newsletter-data .section-subtitle{
  color: #fff;
}
.newsletter-data .section-title{
  color: #fff;
  margin-bottom: 2rem;
}

.newsletter-form{
  background-color: #fff;
  padding: 5px 5px 5px 16px;
  border-radius: 4rem;
  display: flex;
  column-gap: .5rem;
}

.newsletter-input, .newsletter-button{
  font-family: var(--body-font);
  border: none;
  outline: none;
}

.newsletter-input{
  width: 90%;
  color: var(--text-color);
}

.newsletter-button{
  cursor: pointer;
}




/*=============== FOOTER ===============*/
.footer{
  position: relative;
  padding-block: 3rem 2rem;
  overflow: hidden;
}

.footer-container{
  row-gap: 3rem;
}

.footer-logo{
  align-items: center;
  column-gap: .5rem;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: color .3s;
}

.footer-logo img{
  width: 180px;
}

.footer-description, 
.footer-link,
.footer-information{
  font-size: var(--small-font-size);
}

.footer-content,
.footer-links{
  display: grid;
}

.footer-content{
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem;
}

.footer-title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.footer-links{
  row-gap: .5rem;
}

.footer-link{
  color: var(--text-color);
  transition: color .3s;
}

.footer-link:hover{
  color: var(--first-color);
}

.footer-social{
  display: flex;
  column-gap: 1.25rem;
}

.footer-social-link{
  color: var(--first-color);
  font-size: 1.25rem;
  transition: color .3s, transform .3s;
}

.footer-social-link:hover{
  color: var(--first-color-alt);
  transform: translateY(-2px);
}

.footer-info,
.footer-card{
  display: flex;
}

.footer-info{
  margin-top: 3.5rem;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer-card{
  column-gap: 1rem;
  justify-content: center;
}

.footer-card img{
  width: 35px;
}

.footer-copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{ 
  width: .6rem;
  border-radius: .5rem;
  
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: var(--first-color);
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--first-color-alt);
}


/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(19, 64%, 24%, .1);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  font-size: 1.1rem;
  color: var(--first-color);
  z-index: var(--zz-tooltip);
  transition: bottom .3s, transform .3s, background .4s;
}

.scrollup:hover{
  transform: translateY(-.25rem);
}


/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
